<section id="content" class="loginbox">

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
   {{form_widget(form)}}
   
	<p class="formend">
		<input class="submit" type="submit" id="_submit" name="_submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
		
	</p>
</form>
</section>


{% block javascripts %}
<script>
	$(document).ready(function(){
		$('label').css({'display':'block','vertical-align':'middle','margin-left':'20px','margin-right':'20px'})
		
		$('input:password').addClass("text");
		$('input:password').css({'margin-left':'20px','margin-right':'20px','margin-bottom':'20px'})
	})
</script>
{% endblock %}