{% extends 'VenuBlogBundle::base.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About Us</h1>
        <p>Riktam was established in 2007 and today is a leading provider mobile and web app development services. We are based in Hyderabad, India and have offices in the US and Singapore. Riktam has executed <strong>150+ projects</strong> in the area of mobile apps (iPhone / iPad / Android / Windows Phone 7 / Blackberry) and HTML5 web apps.</p>
        <p>We value superior design, elegance of simple solutions and going that extra mile for our customer's success. We follow a consultative approach and believe in partnering and collaborating with our clients in the best possible way.</p>
        <p>We serve clients worldwide; the bulk of our business comes from North America, Europe, Singapore and Australia. Riktam is a privately held company and has been profitable since inception. Among Riktam clients are Procter &amp; Gamble, Real Clear Politics, Tata Capital, SimplifyThis.</p>
        <h2>Team</h2>
        <p><strong>Siddharam Shingshetty</strong>, <em>Managing Director</em></p>
        <p>Siddharam has a Degree in Computer Science &amp; Engineering and an MBA from ICFAI Business School. He sold his first commercial software product when still in college, and founded Riktam in 2007. Prior to Riktam, he worked as a Business Analyst with Tata Consultancy Services - Asia's largest IT Services Company. Siddharam is based in the Hyderabad office and is responsible for the overall operations and setting the strategic direction for the company.</p>
        <p><strong>Siddhartha Kongara</strong>, <em>Director and Head of Business Development</em></p>
        <p>Siddhartha is an electronics engineer and a graduate of IIM- Ahmedabad. Prior to Riktam he has worked in the Communications and Leisure Travel industries in India and the UK. He is based in Singapore and is responsible for Business Development and Client engagement.</p>
        <p><strong>Bharat Aluri</strong>, <em>Director</em></p>
        <p>Mr. Aluri with more than 20 years of IT experience is currently the architect of DCS Health product line and holds the responsibility for managing its technical operations. Previously he was the Chief Technology Officer at Sizebase, a community-based web service for size measurement standards for apparel and accessories before social media had its prominence; he has also served as the telecom carrier's solutions manager for Funk Software. Earlier in his career, he was solely responsible for the design and delivery of AAA Services, OSS, CRM and other platforms to BellSouth's Internet services company and its cellular telephone business.</p>
        <p>As a consulting software engineer at IBM, Mr. Aluri worked with clients including United Technologies and Martin Marietta.</p>
        <p>He is a patent holder in the vertical semantic search space. He obtained an MS in computer science from Clemson University and received his BE with Honors in Electrical &amp; Electronics Engineering from the Birla Institute of Technology &amp; Science, Pilani, India.</p>
    </header>
    <article>
    </article>
{% endblock %}
